{% extends "BASE.html" %}

{% block title %}
PLATAFORMA YOKO
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Primeiro acesso</h5>
        <p class="card-text">Defina sua senha --> <a href="{{url_for('esqueci_minha_senha')}}">DEFINIR SENHA</a> (link para uma nova página)</p>
        <p class="card-text">Basta fornecer seu e-mail institucional. Caso seu email não seja encontrado, entrar em contato
          com a CIMAI/PROPLAN através do e-mail cimai.proplan@ufca.edu.br. 
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Definir ou alterar sua senha ?</h5>
        <p class="card-text"><a href="{{url_for('esqueci_minha_senha')}}">Clique aqui</a></p>
        
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}

{% block footer %}
<br>
  <hr>
  
  <!--<center>
    <div>
      <img src="{{url_for('static',filename='footer.png')}}" width="70%">
    </div>
  </center>-->
  <figure>
    <blockquote class="blockquote">
      <p>Este sistema está em conformidade com a LGPD. Nenhum dado pessoal é acessível para qualquer pessoa além do proprietário.
      </p>
    </blockquote>
    <figcaption class="blockquote-footer">
      <cite title="Source Title">LGPD - Lei Geral de Proteção de Dados - LEI Nº 13.709, DE 14 DE AGOSTO DE 2018.</cite>
    </figcaption>
  </figure>
{% endblock %}