<!DOCTYPE html>
<html>
    <meta name="robots" content="noindex">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
    <head>
        {% block header %}

        {% endblock %}
        
    </head>
    <body>
        {% block body %}

        {% endblock %}
    </body>
    
</html>