    <body>
        <div id="cabecalho">
            <h1>Plataforma Yoko - Email</h1>
        </div>
        <hr>
        {% block content %}

        {% endblock %}
        <hr>
        <div id="footer">
            <p>*************** EMAIL-AUTOMÁTICO - NÃO RESPONDER ***********************</p>
        </div>
    </body>
