{% extends "BASE.html" %}

{% block title %}
Erro: {{error.code}}
{% endblock %}

{% block content %}

<center><h1>ERRO CÓDIGO {{error.code}}</h1></center>

        {% if error.code==404 %}
            <center><h3 style="background-color:rgb(245, 5, 5);">Recurso inexistente</h3></center>
        {% endif %}
        {% if error.code==403 %}
            <center><h3 style="background-color:rgb(245, 5, 5);">Sem permissão para acessar o recurso solicitado</h3></center>
        {% endif %}
        {% if error.code==500 %}
            <center><h3 style="background-color:rgb(245, 5, 5);">Erro no servidor.</h3></center>
        {% endif %}
        <center><h6>Um e-mail de notificação foi enviado automaticamente para o administrador do sistema.</h6></center>
{% endblock %}