{% extends "BASE.html" %}

{% block title %}
PLATAFORMA YOKO
{% endblock %}

{% block content %}



<div class="row">
  
  <div class="col-xs">
    <div class="card" style="width: 32rem;">
       <center><a href="{{url_for('login')}}"><img src="{{url_for('static',filename='login.png')}}" class="card-img-top" style="width: 6rem;" alt="ENTRAR"></a></center>
        <div class="card-body">
            <center><a href="{{url_for('login')}}"><p class="card-text">ENTRAR</p></a></center>
            <center><p>Acessar o sistema</p></center>
        </div>
    </div>
</div>
  
  <div class="col-xs">
      <div class="box">
          <div class="card" style="width: 32rem;">
            <center><a href="{{url_for('esqueci_minha_senha')}}"><img src="{{url_for('static',filename='password.png')}}" class="card-img-top" style="width: 6rem;" alt="ESQUECI MINHA SENHA"></a></center>
              <div class="card-body">
                  <center><a href="{{url_for('esqueci_minha_senha')}}"><p class="card-text">DEFINIR OU REDEFINIR SUA SENHA</a></p></center>
                  <center><p>Em caso do primeiro acesso ou esquecimento da senha</p></center>
              </div>
          </div>
      </div>
  </div>
  <div class="col-xs">
    <div class="box">
        <div class="card" style="width: 32rem;">
          <center><a href="{{url_for('privacidade')}}"><img src="{{url_for('static',filename='privacidade.png')}}" class="card-img-top" style="width: 6rem;" alt="PRIVACIDADE"></a></center>
            <div class="card-body">
                <center><a href="{{url_for('privacidade')}}"><p class="card-text">POLÍTICA DE PRIVACIDADE</a></p></center>
                <center><p>Como seus dados são armazenados</p></center>
            </div>
        </div>
    </div>
</div>
</div>


{% endblock %}

{% block scripts %}

{% endblock %}

{% block footer %}
<br>
  <hr>
  
  <!--<center>
    <div>
      <img src="{{url_for('static',filename='footer.png')}}" width="70%">
    </div>
  </center>-->
  <figure>
    <blockquote class="blockquote">
      <p>Este sistema está em conformidade com a LGPD. Nenhum dado pessoal é acessível para qualquer pessoa além do proprietário.
      </p>
    </blockquote>
    <figcaption class="blockquote-footer">
      <cite title="Source Title">LGPD - Lei Geral de Proteção de Dados - LEI Nº 13.709, DE 14 DE AGOSTO DE 2018.</cite>
    </figcaption>
  </figure>
{% endblock %}