{% extends "BASE.html" %}

{% block title %}
PLATAFORMA YOKO
{% endblock %}

{% block content %}

<div class="row around-xs">
    <div class="col-xs-2">
        <div class="box">
            <div class="card" style="width: 18rem;">
              <center><a href="{{url_for('avaliacao_listar',tipo=0)}}"><img src="{{url_for('static',filename='sumario.png')}}" class="card-img-top" style="width: 6rem;" alt="SUMÁRIO"></a></center>
                <div class="card-body">
                    <center><a href="{{url_for('avaliacao_listar',tipo=0)}}"><p class="card-text">SUMÁRIO DE AVALIAÇÃO</a></p></center>
                </div>
            </div>
        </div>
    </div>
        
    <div class="col-xs-2">
        <div class="card" style="width: 18rem;">
           <center><a href="{{url_for('avaliacao_listar',tipo=1)}}"><img src="{{url_for('static',filename='declaracao.png')}}" class="card-img-top" style="width: 6rem;" alt="..."></a></center>
            <div class="card-body">
                <center><a href="{{url_for('avaliacao_listar',tipo=1)}}"><p class="card-text">DECLARAÇÕES</p></a></center>
            </div>
        </div>
    </div>

    <div class="col-xs-2">
        <div class="card" style="width: 18rem;">
          <center><a href="{{url_for('token_telegram')}}"><img src="{{url_for('static',filename='telegram.png')}}" class="card-img-top" style="width: 6rem;" alt="..."></a></center>
            <div class="card-body">
                <center><p class="card-text"><a href="{{url_for('token_telegram')}}">TOKEN TELEGRAM</a></p></center>
            </div>
        </div>
    </div>

    <div class="col-xs-2">
      <div class="card" style="width: 18rem;">
        <center><a href="{{url_for('logout')}}"><img src="{{url_for('static',filename='logout.png')}}" class="card-img-top" style="width: 6rem;" alt="..."></a></center>
          <div class="card-body">
              <center><p class="card-text"><a href="{{url_for('logout')}}">SAIR</a></p></center>
          </div>
      </div>
  </div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}

{% block footer %}
<br>
  <hr>
  <figcaption class="blockquote-footer">
    <cite title="Source Title">Este sistema não substitui o módulo de avaliação institucional do SIGAA, sendo complementar a este.</cite>
  </figcaption>
  <hr>
  <figure>
    <blockquote class="blockquote">
      <p>Este sistema está em conformidade com a LGPD. Nenhum dado pessoal é acessível para qualquer pessoa além do proprietário.
      </p>
    </blockquote>
    <figcaption class="blockquote-footer">
      <cite title="Source Title">LGPD - Lei Geral de Proteção de Dados - LEI Nº 13.709, DE 14 DE AGOSTO DE 2018.</cite>
    </figcaption>
  </figure>
{% endblock %}