{% extends "BASE_tabela_personalizada.html" %}

{% block title %}
{{titulo}}
{% endblock %}

{% block content %}
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuário</th>
                <th>Título</th>
                <th>Texto</th>
                <th>Criação</th>
                <th>Expira</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>            
        </thead>
        <tbody>
            {% for linha in data %}
                <tr>
                    <td>{{linha.id}}</td>
                    <td>{{linha.User.name}}</td>
                    <td>{{linha.titulo}}</td>
                    <td>{{linha.texto}}</td>
                    <td>{{linha.create_date}}</td>
                    <td>{{linha.expire_date}}</td>
                    <td>
                        <a href="{{url_for('mensagem_editar',id=linha.id)}}"><img src="{{url_for('static',filename='editar.png')}}" style="text-align:center;"></a>
                    </td>
                    <td>
                        <a href="{{url_for('mensagem_excluir',id=linha.id)}}" onclick="return confirm('Tem certeza ? A operação não poderá ser desfeita')"><img src="{{url_for('static',filename='delete.png')}}" style="text-align:center;"></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
{% endblock %}


