<!-- MENU PRINCIPAL -->
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('root')}}">Início <span class="sr-only">(current)</span></a>
          </li>
          
          {% if current_user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Avaliação Institucional
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{url_for('avaliacao_listar',tipo=1)}}">Declarações</a>
                  <a class="dropdown-item" href="{{url_for('avaliacao_listar',tipo=0)}}">Resultados</a>
                </div>
              </li>
          {% endif %}
              
          {% if current_user.is_authenticated %}
                {% if 'admin' in session['roles'] %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Mensagens
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{{url_for('mensagem_listar')}}">Listar</a>
                      <a class="dropdown-item" href="{{url_for('mensagem_adicionar')}}">Adicionar</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Usuários
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{{url_for('usuario_listar')}}">Listar</a>
                      <a class="dropdown-item" href="{{url_for('usuario_adicionar')}}">Adicionar</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{{url_for('importar_usuarios')}}">Importar usuários do SIGAA</a>
                      <a class="dropdown-item" href="{{url_for('reiniciar_telegram')}}">Reiniciar tabela do telegram</a>
                      <a class="dropdown-item" href="{{url_for('admin_logs')}}">Relatório de acessos</a>
                    </div>
                  </li>
                {% endif %}
          {% endif %}  
          
          {% if current_user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('token_telegram')}}">Token Telegram <span class="sr-only">(current)</span></a>
          </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('logout')}}">Sair <span class="sr-only">(current)</span></a>
            </li>
            
          {% else %}
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('login')}}">Entrar <span class="sr-only">(current)</span></a>
            </li>
          {% endif %}

          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('privacidade')}}">Privacidade <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('ajuda')}}">Ajuda <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
