{% extends "BASE.html" %}

{% block title %}
PLATAFORMA YOKO
{% endblock %}

{% block content %}
<h4>Segurança</h4>
<p>
    - Todos os dados armazenados nesta aplicação são de uso exclusivo do proprietário. Todas as informações estão protegidas
    por criptografia <b>AES-256</b><cite>[4]</cite>, com senhas fortes (maiores que 16 caracteres, com letras, números e símbolos especiais)<cite>[1][2][3]</cite>. 
</p>
<p>
    - Os dados, quando processados, são anonimizados e agrupados para fins exclusivamente institucionais de geração
    de indicadores de desempenho, ou seja, sem qualquer individualização de qualquer pessoa. 
</p>

<h4>Política de senhas</h4>
<p>
    Uma senha com 8 caracteres, utilizando apenas caracteres minúsculos e maiúsculos, possui 200 bilhões de possíveis
    combinações. Com uma máquina razoavelmente potente (100.000.000 de testes por segundo), poderíamos testar todas 
    estas possibilidades em aproximadamente 30 minutos. Utilizando outros caracteres adicionais como números e símbolos
    especiais, a quantidade de possibilidades aumenta para aproximadamente 7.2 quadrilhões de combinações, e poderia levar
    cerca de 2 anos para um ataque de força bruta. A medida que aumentamos o tamanho da senha além da inclusão de mais caracteres,
    tornamos o ataque de força bruta inviável, até mesmo para os mais modernos algoritmos distribuídos para quebra
    de senhas. 
    
</p>
<p>
    Dessa forma, para mater um nível alto de segurança, este sistema exige que as senhas sigam as seguintes regras:
    <ul>
        <li>Pelo menos 16 caracteres</li>
        <li>Incluir pelo menos uma letra maiúscula e minúscula</li>
        <li>Incluir pelo menos um caractere especial</li>
        <li>Incluir pelo menos um número</li>
    </ul>
</p>

<hr>
<h4>Arquitetura de Segurança</h4>
<img src="{{url_for('static',filename="arquitetura.png")}}" width="25%">

<hr>
<h4>Referências</h4>
<p>
    <ul>
        <li>[1]Street, Jayson E., et al. Dissecting the hack: the f0rb1dd3n network. Syngress, 2010.</li>
        <li>[2]<a href="https://www.elsevier.com/books/T/A/9780128029305">Cloud Storage Security</a></li>
        <li>[3]<a href="https://www.sciencedirect.com/book/9781597492812/securing-citrix-presentation-server-in-the-enterprise">Securing Citrix Presentation Server in the Enterprise</a></li>
        <li>[4]<a href="https://www.sciencedirect.com/science/article/pii/B9781928994701500094">Hack Proofing Your Network (Second Edition)</a></li>
    </ul>
</p>

<hr>
<p>
<h4>Código Fonte</h4>
<ul>
    <li>O código fonte deste sistema é livre e pode ser verificado e/ou auditado livremente</li>
    <li><a href="https://gitlab.com/rafaelperazzo/yoko">CÓDIGO FONTE DESTE SISTEMA</a></li>
    <li><a href="https://gitlab.com/rafaelperazzo/extractsigaaufca">CÓDIGO FONTE DO SCRIPT QUE EXTRAI DADOS DO SIGAA</a></li>
</ul>
</p>

{% endblock %}