<p>Olá {{nome}}</p>
<p>Recebemos uma solicitação para restaurar sua senha de acesso em nosso site.</p>
<p>Se você reconhece essa ação, clique no botão abaixo para prosseguir:</p>
<p><a href="{{url_for('redefinir_senha',token=token,_external=True)}}">REDEFINIR SENHA</a></p>

<hr>
<p>Atenciosamente, </p>
<p>Plataforma Yoko - 2a Geração</p>