{% extends "BASE.html" %}

{% block title %}
Meu token Telegram
{% endblock %}

{% block content %}

<h1>Seu token do Telegram</h1>
<h2 style="background-color:rgb(245, 241, 5);">-------> <a href="{{link|safe}}" target="_blank">{{token}}</a> <--------</h2>
<hr>

<div class="row start-xs">
    <div class="col-xs-6">
        <div class="box"><a href="{{url_for('static',filename='png/telegram.png')}}" target="_blank"><img src="{{url_for('static',filename='png/telegram.png')}}" class="rounded mx-auto d-block"></a></div>
    </div>
    <!--<div class="col-xs">
        <div class="box"><a href="{{url_for('static',filename='passo_a_passo.png')}}" target="_blank"><img src="{{url_for('static',filename='passo_a_passo.png')}}" class="rounded mx-auto d-block" width="50%"></a></div>
    </div>-->
    <div class="col-xs-6">
        <div class="box">
            <a href="{{url_for('static',filename='orientacoes.png')}}" target="_blank"><img src="{{url_for('static',filename='orientacoes.png')}}" class="rounded mx-auto d-block" width="50%"></a>
        </div>
    </div>
</div>

{% endblock %}