{% extends "BASE_tabela_personalizada.html" %}

{% block title %}
{{titulo}}
{% endblock %}

{% block content %}
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>username</th>
                <th>E-mail</th>
                <th>Token</th>
                <th>Password</th>
                <th>Data de criação</th>
                <th>Editar</th>
                <th>Excluir</th>
            </tr>            
        </thead>
        <tbody>
            {% for linha in data %}
                <tr>
                    <td>{{linha.id}}</td>
                    <td>{{linha.name}}</td>
                    <td>{{linha.username}}</td>
                    <td>{{linha.email}}</td>
                    <td>{{linha.token}}</td>
                    <td>{{linha.password}}</td>
                    <td>{{linha.create_date}}</td>
                    <td>
                        <a href="{{url_for('usuario_editar',id=linha.id)}}"><img src="{{url_for('static',filename='editar.png')}}" style="text-align:center;"></a>
                    </td>
                    <td>
                        <a href="{{url_for('usuario_excluir',id=linha.id)}}" onclick="return confirm('Tem certeza ? A operação não poderá ser desfeita')"><img src="{{url_for('static',filename='delete.png')}}" style="text-align:center;"></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
{% endblock %}


