{% extends "BASE_tabela_personalizada.html" %}

{% block title %}
{{titulo}}
{% endblock %}

{% block content %}
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Data</th>
                <th>Ip</th>
                <th>Tipo de acesso</th>
            </tr>            
        </thead>
        <tbody>
            {% for linha in data %}
                <tr>
                    <td>{{linha.id}}</td>
                    <td>{{linha.User.name}}</td>
                    <td>{{linha.create_date.strftime('%d/%m/%Y %H:%M')}}</td>
                    <td>{{linha.ip}}</td>
                    <td>{{linha.tipo}}</td>
                </tr>
            {% endfor %}
        </tbody>
{% endblock %}


