<a href="/"><b> Plataforma Yoko - Módulo Avaliação Institucional</b></a>

<i>Olá {{nome}}</i>
{% if hora>=0 and hora<12 %}Bom dia!{% endif %}{% if hora>=12 and hora<18 %}Boa tarde!{% endif %}{% if hora>=18 and hora<=23 %}Boa noite!{% endif %}

    Eu sou a atendente virtual da Coordenadoria de Informação, Monitoramento e Avaliação Institucional - CIMAI/PROPLAN/UFCA
No momento, disponho apenas das funcionalidades listadas abaixo. 
Lembre-se que sou um robô, apenas sei fazer o que o meu criador me ensinou. Assim, se eu fizer algo errado, a culpa não é minha, e sim do meu criador :)

Vamos começar ?

<u>Funcionalidades disponíveis: </u>
<b> 1. Consultar sumário de avaliação institucional</b>
<b> 2. Emitir declaração (nos casos em que a avaliação não está disponível)</b>
<b> 3. Sair do sistema: digite /sair</b>
<b> 4. Exibir esta mensagem: /ajuda</b>

Como consultar: 

Digite o período que deseja consultar: ano.período
<i>Formato: ANO.PERIODO</i>
Exemplo: 2020.1