<a href="/"><b> Plataforma Yoko - Módulo Avaliação Institucional</b></a>

Para utilização desta ferramenta, você precisa se autenticar com seu TOKEN de acesso Telegram.
O token pode ser obtido no seu perfil do site: 
{{url_for('root')}}

<b>Cole o token abaixo para liberação da ferramenta.</b>
