{% extends "BASE_tabela_personalizada.html" %}

{% block title %}
{{titulo}}
{% endblock %}

{% block content %}
        <thead>
            <tr>
                <th>Token</th>
                <th>Nome</th>
                <th>Siape</th>
                <th>Ano</th>
                <th>Periodo</th>
                <th>
                    {%if tipo==1 %}
                        PDF da Declaração
                    {% else %}
                        PDF da Avaliação
                    {% endif %}
                </th>
            </tr>            
        </thead>
        <tbody>
            {% for linha in data %}
                <tr>
                    <td>{{linha.token}}</td>
                    <td>{{linha.nome}}</td>
                    <td>{{linha.siape}}</td>
                    <td>{{linha.ano}}</td>
                    <td>{{linha.periodo}}</td>
                    <td>
                        {%if tipo==0 %}
                            <a href="{{url_for('avaliacao_gerar_sumario',ano=linha.ano,periodo=linha.periodo,token=linha.token)}}" target="_blank"><img src="{{url_for('static',filename='pdf.png')}}" style="text-align:center;"></a>
                        {% else %}
                            <a href="{{url_for('avaliacao_gerar_declaracao',ano=linha.ano,periodo=linha.periodo,token=linha.token)}}" target="_blank"><img src="{{url_for('static',filename='pdf.png')}}" style="text-align:center;"></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
{% endblock %}