{% extends "BASE_documento.html" %}
    {% block header %}
        <style type='text/css'>
                        .serif{
            font-family: serif;
            }
            .texto {
            margin: 0;
            }
            .negrito {
            font-weight: 700
            }
            .negrito-2 {
            font-weight: 600
            }
            .sublinhar{
            text-decoration: underline;
            }
            .center {
            text-align: center
            }
            .esquerda {
            text-align: right;
            }
            .overline {
            text-decoration: overline;
            }
            .quebra_linha{
            display: block;
            }
            /*configurações de fonts*/
            .font-12 {
            font-size: 12px;
            }
            .font-17 {
            font-size: 17px;
            }
            .font-24 {
            font-size: 24px;
            }
            .font-36 {
            font-size: 36px;
            }
            .font-40 {
            font-size: 40px;
            }
            /*confifurações de margin*/
            .padding_top_35{
            padding-top:35px;
            }
            .margin_bottom_35{
            margin-bottom: 35px;
            }
            .altura_linhas_19{
            line-height: 19px;
            }
            .altura_linhas_35{
            line-height: 35px;
            }
            .altura_linhas_25{
            line-height: 25px;
            }
            .caixa_informacoes{
            font-size: 28px;
            text-align: justify;
            padding-right: 20px;
            }
            
            .local_data{
            font-size: 28px;
            text-align: right;
            padding-right: 80px;
            padding-top: 40px;
            }
                       
            .enchimento {
                padding: 255px;
            }
            .assinatura{
            font-size: 20px;
            padding-top: 120px;
            }
            
            .token{
            line-height: 22px;
            font-size: 15px;
            padding-top: 100px;
            padding-right: 80px;
            }
                        
            /*configurações de exibição da pagina e conteudo*/
            .certificado_conteudo {
            -webkit-print-color-adjust: exact;
            background-image: url({{url_for('static',filename='imagens/declaracao_cimai.png',_external=True)}});
            height: 1752px;
            width: 1240px;
            background-repeat: no-repeat
            }
            .certificado_pagina {
            padding: 5mm;
            width: 1240px;
            margin: 5mm auto;
            box-shadow: .5px .5px 7px #000;
            border-radius: 2px;
            overflow: hidden;
            }
            /*area de configuraçõa da pagina*/
            @page {
            size: 297mm 210mm;
            margin: 5mm;
            size: landscape
            }
            body {
            margin: 0;
            padding: 0px !important;
            font-family: 'Open Sans', sans-serif
            }
            p{
            margin: 0px;
            }
            /*SEMPRE DEIXAR NO FIM DO CODIGO configuração de impressão*/
            @media print {
            .certificado_pagina {
            padding: 0;
            padding-top: 0px;
            background: transparent;
            margin: 0;
            border-radius: 2px;
            box-shadow: 1px;
            -webkit-box-shadow: none
            }
            }
        </style>
        {% endblock %}

{% block body %}
    <div>
        <div class="certificado_pagina">
            <div class="certificado_conteudo">
                <div class="row center-xs">
                    <p class="enchimento"></p>
                </div>
                <div class="row center-xs">
                    <div class="col-xs-10">
                        <div class="box">
                            <div class="caixa_informacoes serif">
                                <p>
                                    A Coordenadoria de Informação Monitoramento e Avaliação Institucional 
                                    da Universidade Federal do Cariri – UFCA, declara para os devidos fins, 
                                    que <b>{{nome}}</b>, SIAPE: <b>{{siape}}</b>, ministrou as disciplinas, 
                                    submetidas à Autoavaliação Institucional em <b>{{ano}}.{{periodo}}</b>, 
                                    registradas no Sistema Integrado de Gestão de Atividades Acadêmicas 
                                    (SIGAA), conforme comprovante de disciplinas ministradas em anexo. 
                                    No entanto, os resultados da Autoavaliação Institucional de <b>{{disciplinas}}</b> 
                                    não encontram-se disponíveis devido <b>{{motivo}}</b>, 
                                    o que impossibilita o(a) referido professor(a) de anexar os respectivos 
                                    resultados das avaliações da(s) referida(s) disciplina(s) em sua 
                                    documentação de Progressão e/ou estágio probatório.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row end-xs">
                    <div class="col-xs-10">
                        <div class="box">
                            <div class="caixa_informacoes">
                                <p class="local_data serif negrito">
                                   {{local_data}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row end-xs">
                    <div class="col-xs-10">
                        <div class="box">
                            <div class="token serif">
                                <p class="esquerda">Verifique a autenticidade deste documento em: </p>
                                <p class="esquerda"><a href='{{url_for('avaliacao_gerar_declaracao',ano=ano,periodo=periodo,token=token,_external=True)}}'>{{url_for('avaliacao_gerar_declaracao',ano=ano,periodo=periodo,token=token,_external=True)}}</a></p>                                    
                                    <img src="{{url_for('static',filename='png/qrcode.png',_external=True)}}">
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
{% endblock %}
